@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

li, ul {
  margin: 0;
  padding: 0;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

li{
  list-style-type: none;
}

a{
  text-decoration: none;
  color: #555555;
}

.header{
  display: flex;
  padding: 16px;
  margin: 0;
  align-items: center;
  justify-content: space-between;
}

.left-links, .right-links {
  display: flex;
  gap: 16px;
}

.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding:8px;
  flex: 1;
}

.footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: #e4e4e4;
}

